
h1, h2, h3 {
  color: white;
}
.home-page {
  height: 100vh;
  background-color: var(--grey-1);
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}
.logout {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgba(196, 192, 192, 0.253);
  padding: 5px;
  border-radius: 10px;
}
.welcome-msg {
  text-align: center;
  margin-top: 30%;
}
.login-info {
  text-align: center;
  margin-top: 30%;
}
.positive-alert {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 0;
  overflow: hidden;
  background-color: var(--transparent-green);
  transition: 1s;
}
.active {
  height: auto;
  padding: 10px;
}